* {
  margin:54px;
  padding:0px;
}

#octocat {
  display: block;
  width:184px;
  margin: 54px auto;
}

p {
  display: block;
  width: 500px;
  margin: 54px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
